#top{
	background-color: rgb(43,46,118);

}
#top a{
	color: WHITE;

}
#top span{
	color:WHITE;
}

#contest-header{
	min-height: 300px;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../OJ/pixiv13534647.jpg');
}


#index-header{
	min-height: 600px;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../OJ/Sunset-in-Indigo.jpg');
}



#index-header .intro{
	font-family: "微软雅黑";
	padding-top: 200px;
	font-size: 40px;
	color:WHITE;
}
#contest-header .contest-intro{
	font-family: "微软雅黑";
	padding-top: 100px;
	font-size: 40px;
	color:WHITE;

}
#index-header .welcome{

	font-weight: thin;
	font-size: 20px;
}
#contest-header .welcome{

	font-weight: thin;
	font-size: 20px;
}
