<!DOCTYPE html>
<html>
    <head>
        <title>{{ problem.title }} - IndigoOJ</title>

        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" ></script>

        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">

</script>

    </head>
<body>
{% include "OJ/navbar.html" %}

<div class="container" style="padding-top:50px;">

 <div class="page-header">   <h3>{{ problem.title }}</h3>
 </div>
<p>Time Limit:<span class="text-info">{{ problem.time_limit }}</span> <br> Memory Limit:{{ problem.mem_limit }} <br> Soucre:{{problem.source}}<br>
Accepted:<span class="text-info">{{ problem.accepted }}</span> <br>Submitted:<span class="text-info">{{ problem.submitted }}</span> </p>
<div class="page-header"><h4>Detail</h4></div>
<div class="container">{{ problem.detail }}</div>
<div class="page-header"><h4>Sampleinput</h4></div>
<div class="container">
    {% autoescape off %}
<pre class="col-md-8">{{ problem.sampleinput}}</pre>
    {% endautoescape %}
</div>

<div class="page-header"><h4>Sampleoutput</h4></div>
<div class="container">
    {% autoescape off %}
<pre class="col-md-8">{{ problem.sampleoutput}}</pre>
    {% endautoescape %}
</div>


<hr>

<form id="codeform" action="{% url 'OJ:problem' problem.id %}" method="post">
    <table>
        {% csrf_token %}
        
        {{ form }}
        
    </table>
    <div class="row col-md-10" style="min-height:400px;border-color:GRAY;border-width:10px;border-radius: 4px 4px 0 0;">
        <div class="" id="editor" style="min-height:400px;border-color:GRAY;border-width:10px;border-radius: 4px 4px 0 0;"></div>
    </div>
    <div class="row col-md-10" style="">
        <button id="submit" class="btn btn-primary pull-right" style="margin-top:20px" type="submit" >提交</button>
    </div>
</form>

<h3 id="test"></h3>
</div>

</body>


<!--<script>
        $("#code").attr("hidden","true");
</script>-->

<script type="text/javascript">
    var editor=ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/c_cpp");
    editor.setAutoScrollEditorIntoView(true);
    editor.setShowPrintMargin(false);
    editor.setFontSize(15);
    $(document).ready(function(){
        $("#codeform").submit(function() {
            $("#code").html(editor.getValue());
        });
        /*$("#submit").click(function(){
            $("#code").html(editor.getValue());
        })*/
    })
</script>
<script type="text/javascript">
    
</script>


</html>