<!DOCTYPE html>
<html>
    <head>
        <title>Problems - IndigoOJ</title>

        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
{% include "OJ/navbar.html" %}

<div class="container" style="padding:50px;">

<div class="row">
<h1 class="page-header col-md-12">ProblemSet</h1>
	<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-1">ID</th>
			<th class="col-md-1">Title</th>
			<th class="col-md-1">Number</th>
			<th class="col-md-2">ACRate</th>
			<th class="col-md-2">ACRate(origin)</th>
		</tr>
	</thead>
	<tbody>
		{% for problem in problem_list %}
		<tr>
			<td>{{ problem.id }}</td>
			<td><a href = "{% url 'OJ:problem' problem.id %}">{{ problem.title }}</a></td>
			<td>{{ problem.number }}</td>
			<td><div class="progress"><div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ problem.ratio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ problem.ratio }}%;"><span style="z-index:5;color:BLACK;">{{ problem.ratio }}%</span>
			</div></div>
			<td><div class="progress"><div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ problem.ratio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ problem.ratio_on_oringin }}%;"><span style="z-index:5;color:BLACK;">{{ problem.ratio_on_oringin }}%</span></div></div></td>
		</tr>
		<!-- %({{ problem.accepted_on_oringin }} / {{ problem.submitted_on_oringin }})  %({{ problem.accepted }} / {{ problem.submitted }}) -->
		{% endfor %}
	</tbody>
</table>
</div>
<div class="row" style="text-align:center">
<ul class="pagination">

	<li><a href="{% url 'OJ:problemset'%}">&laquo;</a></li>
	<li><a href="#">‹</a></li>
<!--	<li><a href="{% url 'OJ:problemset' %}?page={{ page|add:1 }}">{{ page|add:1  }}</a></li>
	<li><a href="{% url 'OJ:problemset' %}">{{ page|add:2  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:3  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:4  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:5  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:6  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:7  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:8  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">{{ page|add:9  }}</a></li>
	-->

	<li {% if page == pagelist.1 %}class="active"{% endif %} ><a href="{% url 'OJ:problemset' %}?page={{ pagelist.1 }}">{{ pagelist.1  }}</a></li>
	<li {% if page == pagelist.2 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.2 }}">{{ pagelist.2  }}</a></li>
	<li {% if page == pagelist.3 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.3 }}">{{ pagelist.3  }}</a></li>
	<li {% if page == pagelist.4 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.4 }}">{{ pagelist.4  }}</a></li>
	<li {% if page == pagelist.5 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.5 }}">{{ pagelist.5  }}</a></li>
	<li {% if page == pagelist.6 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.6 }}">{{ pagelist.6  }}</a></li>
	<li {% if page == pagelist.7 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.7 }}">{{ pagelist.7  }}</a></li>
	<li {% if pagelist.8 == '0' %}class="disabled"{%else%}{% if page == pagelist.7 %}class="active"{% endif %}{% endif %}><a href={% if pagelist.8 == '0' %}"#"{%else%}"{% url 'OJ:problemset' %}?page={{ pagelist.8 }}"{% endif %}>{% if pagelist.8 == '0' %}...{%else%}{{ pagelist.8  }}{% endif %}</a></li>
	<li {% if page == pagelist.9 %}class="active"{% endif %}><a href="{% url 'OJ:problemset' %}?page={{ pagelist.9 }}">{{ pagelist.9  }}</a></li>
	<li><a href="{% url 'OJ:problemset'%}">›</a></li>
	<li><a href="{% url 'OJ:problemset'%}?page={{ lastpage }}">&raquo;</a></li> 
</ul>

</div>
</div>



</body>


</html>