<!DOCTYPE html>
<html>
    <head>
        <title>IndigoOJ</title>

        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<form action="{% url 'OJ:register' %}" method="post">
	<table>
    	{% csrf_token %}
    	{{ form.as_table }}
	</table>
	<input type="submit" value="提交" />
</form>

</html>
